body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.container h1{
    text-align: center;
    text-decoration: underline;
}
.buttons {
    text-align: center;
}
h1, h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="text"], input[type="number"], input[type="date"], select {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

button:hover {
    background: #555;
}

.form-field {
    margin-bottom: 15px;
}
.view-prev-btn button{
    padding: 10px 50px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

#submissions-container {
    margin-top: 30px;
}

.submission {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}